.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}
.cell {
    border: 1px solid black;
    width: 30%;
}
.checkbox {
    display: flex;
    flex-direction: column;
}