@import '../../styles/vars.scss';

* {
    font-family: "Gupter", serif;
    font-style: normal; 
    background-color: $body-background-color;
}


.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid $line-color;
  
}
.line__cell {
    border: 1px solid $line-color;
    width: 30%;
    color: $text-color;
    text-align: center;
    border-radius: 10px;
}   
.checkbox {
    display: flex;
    flex-direction: column;
}