@import '../../styles/vars.scss';

* {
    font-family: "Gupter", serif;
    font-style: normal; 
}




.card {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $header-background-color; 
    border-radius: 5px;
    width: 80%;
}

.card__line {
     text-align: center; 
     border: 2px solid $line-color; 
     border-radius: 5px;
     width: 80%;

       
}

.card__button {
    font-weight: 400;
    text-align: center;
    border: 2px solid $line-color; 
    background-color:$header-background-color ;
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.trslt {
    color: #555;          
    font-size: 1rem;           
    transition: opacity 0.3s; 
    opacity: 1;                
}

