.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border: 1px solid black;
    width: 25%;
}

.card__line {
     text-align: center;
   
}

.card__button {
    text-align: center;
}

.hide {
    display: none;
}