@import '../../styles/vars.scss';

* {
    font-family: "Gupter", serif;
    font-style: normal; 
}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 800;
     }

.card {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border: 1px solid black;
    width: 25%;
}

.card__line {
     text-align: center;
       
}

.card__button {
    font-weight: 400;
    text-align: center;
}

.hide {
    display: none;
}

.trslt {
    color: #555;          
    font-size: 1rem;           
    transition: opacity 0.3s; 
    opacity: 1;                
}

