.header {
    text-align: center;
    font-size: larger;
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
   }

   .logo {
    display: flex;
    justify-content: center;
   }
 .logo__img {
    width: 5vw;
    height: 10vh;
    border-radius: 40px;
    padding: 1rem;
   cursor: 'pointer';
 }  

