@import "../../styles/vars.scss";

.header {
	text-align: center;
	font-size: 3.5em;
	font-family: "Gupter", serif;
	font-style: normal;
	color: $text-color;
}

.logo__img {
	width: 5vw;
	height: 5vh;
	border-radius: 40px;
	cursor: "pointer";
	position: absolute;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
	background-color: $header-background-color;
	height: 5vh;
	border-radius: 10px;
	align-items: center;
	margin-bottom: 1%;
}

.nav__link {
	text-decoration: none;
	background-color: $header-background-color;
	color: $text-color;
	cursor: pointer;
	font-size: 1.8em;
	}

