@import "../../styles/vars.scss";
* {
	font-family: "Gupter", serif;
	font-style: normal;
	background-color: $body-background-color;
}

hr {
	border: 0;
	height: 2px;
	background-color: $header-background-color;
}
.tableDisr {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.titleHeader {
	color: $text-color;
	margin: 0;
}

.titlePharagraph {
	color: $text-color;
	margin-bottom: 3%;
}
.list {
	border: 2px solid $header-background-color;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.list__words {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.list__words_title {
	font-size: 1.5rem;
	border: 2px solid $header-background-color;
	border-radius: 5px;
	color: $text-color;
}

.list__buttons {
	border: 2px solid $header-background-color;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 18px;
	width: 12%;
}

.list__buttons_title {
	color: $text-color;
	border: 2px solid $header-background-color;
	border-radius: 5px;
	font-size: small;
}
