@import '../../styles/vars.scss';
* {
    font-family: "Gupter", serif;
    font-style: normal; 
    background-color: $body-background-color;
}


.list {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.list__words {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:70%;
}

.list__words_title{
    color: $text-color;
   }



.list__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    width:30%;
}

.list__buttons_title{
    color: $text-color;
    font-size: small;
   }

