@import "../../styles/vars.scss";

.addWord {
	border: 2px solid $header-background-color;
	border-radius: 5px;
	margin-bottom: 10px;
}

.title__addwords {
	color: $text-color;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 10px;
}

.addWord__form {
	display: flex;
	flex-direction: row;
}

.addWord__inputs {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
	border: 1px solid $line-color;
	border-radius: 5px;
	margin-bottom: 10px;
}

.inputWrapper {
	width: 30%;
	color: $text-color;
	text-align: center;
	border-radius: 10px;
	border: 1px solid $header-background-color;
}

.inputWrapper_item {
	border: none;
}

.addWord__btns {
	width: 12%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.addWord__btns_add,
.addWord__btns_delete {
	border: 1px solid $header-background-color;
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
	color: $text-color;
}

.info__addwords {
	color: $text-color;
	font-size: 1em;
	text-align: center;
	margin-bottom: 10px;
}

.info__addwords-link {
	text-decoration: none;
	color: $text-color;
	cursor: pointer;
}
.errorText {
	color: red;
}

.inputError {
	border: 2px solid red;
	outline: none;
}
