@import './styles/vars.scss';
@import '../src/components/AddWord/AddWord.modulescss';
@import '../src/components/Card/Card.module.scss';
@import  '../src/components/header/header.module.scss';
@import '../src/components/Home/Home.module.scss';
@import '../src/components/Page404/page404.module.scss';
@import '../src/components/TableLine/TableLine.module.scss';
@import '../src/components/TableTitle/TableTitle.module.scss';

* {
  box-sizing: border-box;
}

body {
  //  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
